/*variables*/
:root {
  --light: #f2f2f2;
  --mid-light: #e6e6e6;
  --mid: #595959;
  --mid-dark: #999999;
  --dark: #333333;
  --accent: #1dc9c9;
  --accent-mid: #28bdbd;
  --accent-dark: #004d4d;
}

/*main style*/
* {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
  background-color: var(--mid-light);
}

/*style components*/
.width100 {
  width: 100%;
}

.centered-horizontal {
  margin: 0 auto;
}

.flx {
  display:flex;
}

.flx-row{
  flex-direction: row;
}

.flx-col {
  flex-direction: column;
}

.flx-justify-end {
  justify-content: flex-end;
}

.flx-justify-cen {
  justify-content: center;
}

.flx-justify-sb {
  justify-content: space-between;
}

.flx-justify-sa {
  justify-content: space-around;
}

.flx-justify-se {
  justify-content: space-evenly;
}

.flx-align-cen {
  align-items: center;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.switch-label {
  font-size: 0.8em;
  text-align: right;
  margin-right: 5px;
}

/*element style components*/
.container {
  max-width: 960px;
  min-height: 100%;
  padding: 40px 0;
}

#formContainer {
  width:50%;
  background-color: var(--light);
  -webkit-box-shadow: 1px 1px 20px #cccccc;
  -moz-box-shadow: 1px 1px 20px #cccccc;
  box-shadow: 1px 1px 20px #cccccc;
}

#formHolder {
  padding: 40px 10px;
}

#accessibilityContainer {
  display: flex;
  justify-content: flex-end;
}

#accessibilityButtons {
  display: inline-block;
  padding:10px;
}

.banner {
  background-color: var(--accent);
  min-height: 150px;
  padding: 5px 0;
  -webkit-box-shadow: 0px 1px 3px var(--mid-dark);
  -moz-box-shadow: 0px 1px 3px var(--mid-dark);
  box-shadow: 0px 1px 3px var(--mid-dark);
}

#submissionContainer {
  padding: 45px 15px 10px;
}

#submitButton {
  text-align: center;
  font-size: 1em;
  color: var(--dark);
  background-color: var(--accent);
  outline: none;
  -webkit-box-shadow: 2px 1px 3px var(--mid-dark);
  -moz-box-shadow: 2px 1px 3px var(--mid-dark);
  box-shadow: 2px 1px 3px var(--mid-dark);
  border: none;
  width:75px;
  height: 35px;
  border-radius: 10px;
}

#submitButton:focus {
  border: 3px solid var(--accent-dark)
}

#submitButton:active {
  opacity: 0.5;
}

fieldset {
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
  border: none;
}

legend {
  padding-bottom: 5px;
  width: 100%;
  font-family: "Roboto";
}

input {
  text-transform: none;
  font-family: "Open Sans";
  font-size: 1em;
  margin:4px;
  padding: 15px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
}

input[type='text'] {
  width:100%;
}

input[type='tel'] {
  width: 100%;
}

input:focus {
  outline: none;
  border: 4px solid var(--mid-light);
}

input[type='checkbox'] {
  width: auto;
  padding: 0;
  margin:0;
  zoom: 1.5
}

input[type='checkbox']:focus {
  outline: 3px solid var(--mid-light);
}

select {
  zoom: 1.2;
}

label {
  flex:1;
  font-size: 0.9em;
}

.sliderInner {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: var(--mid-light);
  min-height: 15px;
  border-radius: 8px;
  width:65%;
  right:0;
}

.sliderOuter {
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  margin: 5px 0;
  position:relative;
  border-radius: 10px;
  min-height: 15px;
  max-height: 15px;
  width:30px;
  background-color: #c6c6c6;
}

.sliderOuter.activated {
  background-color: darkgray;
}

.sliderOuter.activated .sliderInner {
  left: 0;
}

/*dark theme*/
.darkMode {
  color: var(--light);
  background-color: var(--dark);
}
.darkMode #formContainer {
  background-color: var(--mid);
  -webkit-box-shadow: 1px 1px 20px #1a1a1a;
  -moz-box-shadow: 1px 1px 20px #1a1a1a;
  box-shadow: 1px 1px 20px #1a1a1a;
}

.darkMode .banner {
  background-color: var(--accent-dark);
  -webkit-box-shadow: 0px 1px 5px var(--dark);
  -moz-box-shadow: 0px 1px 5px var(--dark);
  box-shadow: 0px 1px 5px var(--dark);
}

.darkMode input {
  color: var(--light);
}

.darkMode #submitButton {
  color: var(--light);
  -webkit-box-shadow: 2px 1px 5px var(--dark);
  -moz-box-shadow: 2px 1px 5px var(--dark);
  box-shadow: 2px 1px 5px var(--dark);
  background-color: var(--accent-dark);
}

/*media groups*/
@media only screen and (max-width: 960px) {
  body {
    width: 100%;
  }
  .main {
    width:100%;
    padding: 0 10px;
  }
  #formContainer {
    width: 100%;
  }
}

@media (max-width: 576px) {
  input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 500px){
  input {
    padding-left: 5px;
    padding-right: 5px;
  }
}